h1 {
    background-color: yellowgreen;
    color: #000000;
    padding: 20px;
}

body {
    div {
        background: palevioletred;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-bottom: 18px;
        margin-left: 30px;
        transform: rotate(45deg);
    }
}